---
Language: Cpp

ColumnLimit: 0
TabWidth: 2
UseTab: AlignWithSpaces

DerivePointerAlignment: False
PointerAlignment: Left

ArrayInitializerAlignmentStyle: Right
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Always
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
...